# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-4yyd6.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='S3N6XLC2RGXBDG7S' password='NgxaUnk4gItAsiwMKH2qee3dW3IQVDg4ODdW+DnGrlt3iT1FaB50+C8lhspbgtRa';
sasl.mechanism=PLAIN

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-4nrnd.us-central1.gcp.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=5JEYA3KVAY5PK7RE:6TTpcJqIBNvBW+iIaQWn6wAAXJenUDtlKrnSi8xDxE+zLhHtpeUZyxYTZnR4C5+W
