# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-zpjg0.eu-central-1.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='PFH5EA27UFHHWSLA' password='80LuD2J+zMtVVw8e4XF7BoIOc1Ng71y3FTG8Zz0In72e5Bu8YfaXaNIJLYwQDVlp';
sasl.mechanism=PLAIN

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-v9krz.eu-central-1.aws.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=DRAK7PNSP7COJGTA:VBgjGSX8Zf2alDCk2xhhY1vodgVOw8P211/IocNajlDkpYPeDxqyklZ+ZmI2joft

